.image-layout {
  float: center;
  margin-bottom: 0px;
  padding: auto;
  max-width: 100%;
  max-height: 100%;
}
.image-text {
  margin-top: 100px;
  padding: auto;
  align-items: center;
}

.text-layout {
  padding-top: 0;
  margin-top: 0;
  font-size: 12px;
  text-align: left;
}

.text-layout-2 {
  color: white;
}

.bg-gradient {
  background-image: linear-gradient(to bottom, #181818, #d3d3d3);
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.image-space {
  padding-top: 5rem;
}
